{% extends 'fr/public/base.html' %}
{% load crispy_forms_tags %}

{% block connect %}
{% if logged_user is None %}
<div class="row" style="background:transparent">
     <div class="col-md-9">
               <p> </p>
          </div>
          <div class="col-md-3">
               <a href="{% url 'login' %}">Login</a> |
               <a href="{% url 'register' %}">Register</a>
          </div>
</div>
{% else %}
<div class="row">
     <div class="col-md-9">
               <p> </p>
          </div>
          <div class="col-md-3">
               <span>Connect as {{logged_user.username}}</span> |
               <a href="?action=logout">LogOut</a>
          </div>
</div>
{% endif %}

{% endblock connect %}

{% block content %}

<!-- multistep form -->
<form id="msform" action="" method="post" autocomplete="off" data-url="{% url 'home' %}">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Informations sur l'objet</li>
    <li>Localisation</li>
    <li>Informations personnelles</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Signaler un objet perdu</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
       {% csrf_token %}
      {{ objet_form.type_objet|as_crispy_field }}
    <input type="text" name="nom_objet" id="nom_objet" placeholder="Nom de l'objet" />
    <input type="text" class="required" name="nom" id="nom" placeholder="Nom" />
    <input type="text" class="required" name="prenom" id="prenom" placeholder="Prénom" />
    <input type="text" class="required" name="telephone" id="telephone" placeholder="Téléphone" />
    <input type="text" name="email" id="email" placeholder="Email" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Localisation</h2>
    <h3 class="fs-subtitle">Circonscrir votre zone </h3>
    <input type="text" name="lieu_perte" id="lieu_perte" placeholder="Lieu de perte" />
    <input type="date" name="date_perte" id="date_perte" placeholder="Date de perte" />
    <input type="text" name="lieu_de_residence" id="lieu_de_residence" placeholder="Lieu de résidence" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Informations personnelles</h2>
    <h3 class="fs-subtitle">Elles resteront confidentielles</h3>
    <input type="date" name="date_naissance" id="date_naissance" placeholder="Date de naissance" />
    <input type="text" name="numero_cni" id="numero_cni" placeholder="Numéro CNI" />
    <textarea name="description" id="description" placeholder="Description situation de perte"></textarea>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>
<a href="" class="btn secondary btn-block btn-lg" ><i class="fas fa-stream"></i> << Cliquez ici pour signalez un objet retrouvé >></a>
<div class="row">
     <hr class="my-4">
</div>
<div class="row">
     <div class="col-md-3">
          <a href="" class="btn btn-outline-dark ">Infos sur nos services</a>
     </div>
     <div class="col-md-3">
          <a href="" class="btn btn-outline-dark ">Rechercher un objet perdu</a>
     </div>
     <div class="col-md-3">
          <a href="{% url 'trouveur_index' %}" class="btn btn-outline-dark ">Trouveur</a>
     </div>
     <div class="col-md-3">
          <a href="{% url 'agence_index' %}" class="btn btn-outline-dark ">Agence</a>
     </div>
     <div class="row">
          <br>
          <p>

          </p>
     </div>
</div>

{% endblock %}