{% extends 'fr/public/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="display-4">Création d'un compte</h3>
<p><br></p>
<form>
  <p>
    <label for="profileType">Vous êtes :</label>
    <select id="profileType">
      <option value="trouveur" {% if form.is_bound and form1.is_bound and form2.is_bound %}
              selected = "selected" {% endif %}>Trouveur</option>
      <option value="agence" {% if form3.is_bound and form4.is_bound %}
              selected = "selected" {% endif %}>Agence</option>
    </select>
  </p>
</form>

<form method="post" id="trouveurForm">
  {% csrf_token %}
     <div class="row">
          <div class="col-md-6">
               {{ form1.nom|as_crispy_field }}
          </div>
          <div class="col-md-6">
               {{ form1.prenom|as_crispy_field }}
          </div>
     </div>
     {{ form.username|as_crispy_field }}
     {{ form.password|as_crispy_field }}
     {{ form1.date_naissance|as_crispy_field }}
     {{ form1.lieu_de_residence|as_crispy_field }}
     {{ form2.profession|as_crispy_field }}
     {{ form1.telephone|as_crispy_field }}
     {{ form1.email|as_crispy_field }}
     {{ form1.numero_cni|as_crispy_field }}
     {{ form1.date_delivrance|as_crispy_field }}
      <input type="hidden" name="profileType" value="trouveur">

     <div class="row">
          <br>
          <p>

          </p>
     </div>
     <div class="row">
          <div class="col-md-8">
               <button type="submit" class="btn btn-success btn-block btn-lg" ><i class="fas fa-database"></i> Submit</button>
          </div>
     </div>
</form>

<form method="post" id="agenceForm">
  {% csrf_token %}
  {{ form3.nom|as_crispy_field }}
  <div class="row">
          <div class="col-md-6">
               {{ form3.ville|as_crispy_field }}
          </div>
          <div class="col-md-6">
               {{ form3.localisation|as_crispy_field }}
          </div>
     </div>
     {{ form4.username|as_crispy_field }}
     {{ form4.password|as_crispy_field }}
     {{ form3.telephone|as_crispy_field }}
     {{ form3.email|as_crispy_field }}
      <input type="hidden" name="profileType" value="agence">

     <div class="row">
          <br>
          <p>

          </p>
     </div>
     <div class="row">
          <div class="col-md-8">
               <button type="submit" class="btn btn-success btn-block btn-lg" ><i class="fas fa-database"></i> Submit</button>
          </div>
     </div>
</form>

{% endblock %}
